*.color0: {{ appearance_color0 }}
*.color1: {{ appearance_color1 }}
*.color2: {{ appearance_color2 }}
*.color3: {{ appearance_color3 }}
*.color4: {{ appearance_color4 }}
*.color5: {{ appearance_color5 }}
*.color6: {{ appearance_color6 }}
*.color7: {{ appearance_color7 }}
*.color8: {{ appearance_color8 }}
*.color9: {{ appearance_color9 }}
*.color10: {{ appearance_color10 }}
*.color11: {{ appearance_color11 }}
*.color12: {{ appearance_color12 }}
*.color13: {{ appearance_color13 }}
*.color14: {{ appearance_color14 }}
*.color15: {{ appearance_color15 }}

*.alpha: 1
*.font: Monospace-14;

